* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fafafa;
}

header {
    padding: 20px 35px;
    /* background-color: #ffe9e3; */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #7c73e6;
    margin: 0;
    display: inline;
}

header a {
    color: #7c73e6;
    text-decoration: none;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer {
    background-color: #c4c1e0;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #fafafa;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #fafafa;
}

section {
    padding: 60px;
}

/* about style start */
.about {
    text-align: center;
}

/* about style end */

/* album style start */
.albums {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
}

/* .album {
    border: 1px solid red;
    background-image: url("/PopSmokeFaith.png");
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: center;
} */ 

.album {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 25px;
    float: left;
}

/* .album:hover {
    width: 350px;
    height: 350px;
} */ 

.desc {
    padding: 15px;
    /* border: 1px solid red; */
}

/* .album-name {
    color: #fafafa;
    text-align: center;
} */ 

section a div {
    text-decoration: none;
}

.album-des {
    color: #fafafa;
}

.song-list {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 10px;
}

.songs {
    list-style-type: none;
    margin-top: 10px;
}

.artist {
    font-weight: bold;
    font-size: 25px;
}

.album-name {
    font-weight: bold;
    font-size: 15px;
}

li {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 3px;
}

.albums-section {
   /* border: 1px solid red; */
   height: 900px;
   margin: 0 auto;
}

.about {
    border-bottom: 1px solid black;
    border-bottom-width: 5px;
    border-bottom-color: #7c73e6;
}

#development {
    background-color: #dc2f2f;
    text-transform: uppercase;
    border: 1px solid black;
    color: #fafafa;
    padding: 10px;
}

#about-us {
    margin-top: 50px;
    /* border-bottom: 1px solid black; */
    text-transform: uppercase;
    padding: 10px;
}

#submissions {
    text-align: center;
    border-bottom: 1px solid black;
    border-bottom-width: 5px;
    border-bottom-color: #7c73e6;
}

#submissions-header {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#how-it-works {
    /* border: 1px solid black; */
    text-align: center;
}

.intro {
    line-height: 1.5;
    font-size: 25px;
    margin-top: 25px;
}

.steps {
    /* border: 1px solid black; */
    /* border-bottom: 1px solid black; */
    font-size: 25px;
    margin-bottom: 35px;
}

#how-it-works-title {
    margin-bottom: 15px;
    text-transform: uppercase;
}

#juice {
    text-decoration: underline;
    color: #7c73e6;
}

.slogan {
    font-size: 10px;
}

.undisputed {
    text-transform: uppercase;
    color: red;
    font-size: 200px;
}

.coming-soon {
    color: #7c73e6;
    margin-bottom: 10px;
    display: inline-block;
}